// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//button add colors
$button-add: rgb(68, 158, 8);
$button-add-hover: rgb(196, 226, 162);
